<html>
    <head>
        <title><%= title %></title>
        <link rel="styelsheet" href="/css/layout.css">
        <%- style %>
    </head>
    <boyd>
        <%- include('_header'); %>           
        <%- body        %>
        <%- include('_footer'); %>

        <%- script %>
    </boyd>
</html>